@page "/newconfiguration"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h4>Create new configuration</h4>

<MatStringField @bind-Value="@Name" Style="width:300px;" Label="Name of the configuration"></MatStringField>
<MatStringField @bind-Value="@Description" Style="width:300px;" Label="Short description"></MatStringField>

<MatList>
    @foreach (var item in items)
    {
        <MatListItem>
            <MatCheckbox TValue="bool" Value="@item.IsSelected" ValueChanged="@(value=>OnItemSelected(item, value))" Label="@item.Name"></MatCheckbox>
        </MatListItem>}
</MatList>

<MatButton Unelevated="true" OnClick="@RunOnClick">Create</MatButton>
